<div id="<%= dom_id laboratory_22 %>">
  <p>
    <strong>Number laboratory:</strong>
    <%= laboratory_22.number_laboratory %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= laboratory_22.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= laboratory_22.address %>
  </p>

  <p>
    <strong>Pharmacy of brand:</strong>
    <%= laboratory_22.pharmacy_of_brand %>
  </p>

  <p>
    <strong>Distric:</strong>
    <%= laboratory_22.distric %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= laboratory_22.region %>
  </p>

  <p>
    <strong>Hour open:</strong>
    <%= laboratory_22.hour_open %>
  </p>

  <p>
    <strong>Hour close:</strong>
    <%= laboratory_22.hour_close %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= laboratory_22.phone %>
  </p>

  <p>
    <strong>Number medicine isbn:</strong>
    <%= laboratory_22.number_medicine_isbn %>
  </p>

</div>
