<p style="color: green"><%= notice %></p>

<%= render @laboratory_22 %>

<div>
  <%= link_to "Edit this laboratory 22", edit_laboratory_22_path(@laboratory_22) %> |
  <%= link_to "Back to laboratory 22s", laboratory_22s_path %>

  <%= button_to "Destroy this laboratory 22", @laboratory_22, method: :delete %>
</div>
