<%= form_with(model: laboratory) do |form| %>
  <% if laboratory.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(laboratory.errors.count, "error") %> prohibited this laboratory from being saved:</h2>

      <ul>
        <% laboratory.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :number_laboratory, style: "display: block" %>
    <%= form.number_field :number_laboratory %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
