<p style="color: green"><%= notice %></p>

<%= render @usu_busca_farm_barrio %>

<div>
  <%= link_to "Edit this usu busca farm barrio", edit_usu_busca_farm_barrio_path(@usu_busca_farm_barrio) %> |
  <%= link_to "Back to usu busca farm barrios", usu_busca_farm_barrios_path %>

  <%= button_to "Destroy this usu busca farm barrio", @usu_busca_farm_barrio, method: :delete %>
</div>
