<div id="<%= dom_id medi_cine %>">
  <p>
    <strong>Number medicine isbn:</strong>
    <%= medi_cine.number_medicine_isbn %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= medi_cine.description %>
  </p>

  <p>
    <strong>Initial stock:</strong>
    <%= medi_cine.initial_stock %>
  </p>

  <p>
    <strong>Final stock:</strong>
    <%= medi_cine.final_stock %>
  </p>

  <p>
    <strong>Initial price:</strong>
    <%= medi_cine.initial_price %>
  </p>

  <p>
    <strong>Final price:</strong>
    <%= medi_cine.final_price %>
  </p>

</div>
